{% extends './stages_layout.html' %}

{% load static %}

{% block title %}
    Second Stage
{% endblock %}

{% block body %}
    <div class="hide slideDown-container" id="second-stage-first-post">
        <div id="first-post-choice" class="carousel slide" data-bs-interval="false" data-bs-touch="false">
            <div class="carousel-inner">
                <div class="option-post-container carousel-item active">
                    <div class="post-title">
                        ProtectPHMentalHealth
                    </div>
                    <div class="post-content">
                        Let's maintain Filipino voter's well-being during political campaign
                    </div>
                    <hr>
                </div>
                <div class="option-post-container carousel-item">
                    <div class="post-title">
                        InspireTheYOUTH
                    </div>
                    <div class="post-content">
                        Let us be the way for better future, vote wisely!
                    </div>
                    <hr>
                </div>
                <div class="option-post-container carousel-item">
                    <div class="post-title">
                        ABCmate
                    </div>
                    <div class="post-content">
                        There should be transparency, how could we vote someone we barely know?
                    </div>
                    <hr>
                </div>
            </div>
            <button class="carousel-control-prev control-carousel" type="button" data-bs-target="#first-post-choice" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            </button>
            <button class="carousel-control-next control-carousel" type="button" data-bs-target="#first-post-choice" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="post-container hide" id="from-commotion-chat">
        <div class="post-title">
            eliASER
        </div>
        <div class="post-content">
            I agree! Reason, I really dislike Mr. Reyes!
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide">
        <div class="post-title">
            MariaClark
        </div>
        <div class="post-content">
            Oh uh, this sounds like Mr. Reyes tactics 
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide back-to-chat-container" id="kap-tiag-container">
        <div class="post-title">
            KapTiag
        </div>
        <div class="post-content">
            Mr. Reyes should withdraw his candidacy now!
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide">
        <div class="post-title">
            TatayDamaso
        </div>
        <div class="post-content">
            Dela Cruz is right! Shame on you Mr. Reyes!
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide">
        <div class="post-title">
            DonTasio
        </div>
        <div class="post-content">
            I can see now who to vote now ;)
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide">
        <div class="post-title">
            CrispinFriedchicken
        </div>
        <div class="post-content">
            You're so kind Mr. Dela Cruz, you didn't let those 
            rumors about you hinder you from your goals to help 
            our city
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
    <div class="post-container hide back-to-chat-container">
        <div class="post-title">
            BAbaSILsilIOio
        </div>
        <div class="post-content">
            Salute to you Mr. Dela Cruz, may the above guide 
            to the winning path for this election 
        </div>
        <hr>
        <span class="continue-post-proceed">
            Click here to continue
            <i class="arrow right"></i>
        </span>
    </div>
{% endblock %}

{% block chat %}
    <div>
        <div class="stages-convo sliding-command-convo">
            Hey, last time was great
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            However, it didn't stop Mr. Reyes from attacking my
            image, others are already believing him
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            Anything that we could still do?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                It's fine Sir, instead of focusing how the opponents
                attack us, let's focus on your personal branding!
            </div>
            <div class="sliding-command-convo option-reply-chat">
                Appealing to the voters via your personal branding
                is the answer Sir
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            Are you sure?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                Of course! This is the right path Sir
            </div>
            <div class="sliding-command-convo option-reply-chat">
                Positive Sir
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            Alright, then what do you mean by personal branding?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                We have to promote a positive personal branding for
                you Sir. Let's start with identifying with your unique
                selling point. 
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            And what I could gain from it?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                We could gain supporters 
            </div>
            <div class="sliding-command-convo option-reply-chat">
                It's a strategic action to appeal to voters
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            Hmmmm, I'm doubting this
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            Either way, I let you prove your wits
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            What selling point do you think we should portray?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                Kindness! Filipino voters likes candidates who has a good heart
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo sliding-command-convo">
            That's not unique, hmmm; I'll see you try.
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                We will infiltrate an anonymous micro-influencer's
                page and make them share post that will highlight
                you unique selling point
            </div>
        </div>
    </div>
    <div class="hide back-to-post-container">
        <div class="stages-convo sliding-command-convo">
            Interesting, I'll let you handle from this
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide back-to-post-container" id="sudden-commotion-convo">
        <div class="stages-convo sliding-command-convo">
            Look there is a sudden commotion about Mr. Reyes!
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide" id="turn-tables-chat">
        <div class="stages-convo sliding-command-convo">
            This is great! You turn the tables 
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                Now you should share post in your account Sir
            </div>
        </div>
    </div>
    <div class="hide" id="client-chosen-post">
        <div class="stages-convo sliding-command-convo">
            What should I post then?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                "Let's have a peaceful election for this year, and let our people be our utmost concern."
            </div>
            <div class="sliding-command-convo option-reply-chat">
                "Our party prioritized what needs to be address in our community, and not fighting with anyone."
            </div>
        </div>
    </div>
    <div class="hide back-to-post-container">
        <div class="stages-convo sliding-command-convo">
            Alright
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <div class="hide" id="client-reaction-chat">
        <div class="stages-convo sliding-command-convo">
            Wow! What just happened?
        </div>
        <div class="option-chat-reply-container">
            <div class="sliding-command-convo option-reply-chat">
                We were able to subtly showcase your kindness as candidate
            </div>
        </div>
    </div>
    <div class="hide">
        <div class="stages-convo">
            Now we have more supporters, thanks to you, great job!
        </div>
        <div class="option-chat-reply-container">
            <span class="continue-container-proceed">
                Click here to continue
                <i class="arrow right"></i>
            </span>
        </div>
    </div>
    <button id="thirdStage-button" class="nxt-button hide">
        <a class="nxt-button-context" href="{% url 'stages' stage_name='third_stage' username=username %}">Next Stage</a>
    </button>
    <div class="notification hide" id="choose-page-notif">
        Choose what anonymous page to use
    </div>
    <div class="notification hide" id="post-client-notif">
        Now let this page discreetly promotes our client
    </div>
{% endblock %}